{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ categorydata.title}}{% endblock %}
{% block keywords %} {{ categorydata.keywords }}{% endblock %}
{% block description %} {{ categorydata.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

{% endblock %}

{% block body%}

    <section id="blog" class="container">
        <div class="center">
            <h2>{{ categorydata.title}}</h2>
            <p class="lead">{{ categorydata.description }}</p>
        </div>

        <div class="blog">
            <div class="row">

                <div class="col-md-8">

                    {% for rs in news %}
                        <div class="blog-item" >
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 text-center" >
                                    <div class="entry-meta">
                                        <span id="publish_date">{{ rs.created_at }}</span>
                                        <span><i class="fa fa-user"></i> <a href="/user/otherusers/{{ rs.user_id }}">{{ rs.user.username }}</a></span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-10 blog-content"style="height:500pt; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                                    <a href="/news/{{ rs.id }}/{{ rs.slug }}"><img class="img-responsive img-blog" src="{{ rs.image.url }}" width="100%" alt="" /></a>
                                    <h2><a href="/news/{{ rs.id }}/{{ rs.slug }}">{{ rs.title |safe }}</a></h2>
                                    <h3>{{ rs.detail |safe }}</h3>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <a class="btn btn-primary readmore" href="/news/{{ rs.id }}/{{ rs.slug }}">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                    {% endfor %}


                </div><!--/.col-md-8-->



                <aside class="col-md-4">
                    <div class="widget categories">
                        <h3>Recent Comments</h3>
                        <div class="row">
                            {% for rs in comment %}
                                <div class="col-sm-12">
                                    <div class="single_comments">
                                        <a href="/user/otherusers/{{ rs.user_id }}">
                                            <img class="img-responsive img-circle" src="{{rs.user.userprofile.image.url}}" style="height: 80px; width: 60px">
                                        </a>
                                        <a href="/news/{{ rs.news.id }}/{{ rs.news.slug }}">
                                            <p>
                                                {{ rs.news.title }}
                                            </p>
                                        </a>

                                        <p>{{rs.comment}}</p>
                                        <div class="entry-meta small muted">
                                            <span>By <a href="/user/otherusers/{{ rs.user_id }}">-{{rs.user.username}}/</a></span> <span></span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div><!--/.recent comments-->

                    <div class="widget blog_gallery">
                        <h3>Other Contents</h3>
                        <ul class="sidebar-gallery">{% for rs in news2 %}
                            <li><a href="/news/{{ rs.id }}/{{ rs.slug }}" title="{{ rs.title }}&#10;{{ rs.category }}"><img src="{{ rs.image.url }}" style="width: 120px" height=" 80 px" /></a></li>
                        {% endfor %}
                        </ul>
                    </div><!--/.blog_gallery-->
                </aside>
            </div><!--/.row-->
        </div>

    </section><!--/#blog-->
{% endblock %}