{% load static %}


<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2020 <a target="_blank" href="{{setting.facebook}}" title="Free Twitter Bootstrap WordPress Themes and HTML templates">{{setting.company}}</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="/hakkimizda">About Us</a></li>
                    <li><a href="/iletisim">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->


<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js'%}"></script>
<script src="{% static 'js/jquery.isotope.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/wow.min.js'%}"></script>