{% load static %}
<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-8">
                <div class="widget">
                    <h3>Sayfalar</h3>
                    <ul>
                        <li class="active"><a href="/">Anasayfa</a></li>
                        <li><a href="/hakkimizda">Hakkımızda</a></li>
                        <li><a href="/referanslar">Referanslarımız</a></li>
                        <li><a href="/iletisim">İletişim</a></li>
                        <li><a href="/SSS"> SSS</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-8" style="margin-left: 150px">
                <div class="widget">
                    <h3>İçerikler</h3>
                    <ul class="nav navbar-nav">

                        {% load mptt_tags %}
                        {% recursetree category %}
                            <li class="dropdown">
                                <a href="/category/{{ node.id }}/{{ node.slug }}" {% if not node.is_leaf_node %} class="dropdown" {% endif %}>{{ node.title }}  {% if not node.is_leaf_node %}<i class="fa fa-angle-down"></i>{% endif %}</a>
                                {% if not node.is_leaf_node %}
                                    <ul class="dropdown-menu">
                                        <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                </div>
            </div><!--/.col-md-3-->

            <div style="margin-left: 1000px">
                <div class="widget">
                    <h3>Kullanıcı</h3>
                    {% if user.id is not None %}

                        <ul >
                            <li><a href="/user"><img src="{{ user.userprofile.image.url}}" height="60px" class="img-circle"> {{user.first_name}} {{user.last_name}} </a></li>
                            <li><a href="/user/mynews">My Content <span class="badge"></span></a></li>
                            <li><a href="/user/comments/">My Comments <span class="badge"></span></a></li>
                            <li><a href="/logout/"><i class="fa fa-sign-out"> </i>  Logout</a></li>
                        </ul>

                    {% else %}
                        <ul >
                            <li><a href="/login/"><i class="fa fa-unlock"> </i>  Login</a></li>
                            <li><a href="/register/"><i class="fa fa-sign-in"> </i>  Sign up</a></li>
                        </ul>

                    {% endif %}
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2020 <a target="_blank" href="{{setting.facebook}}" title="Free Twitter Bootstrap WordPress Themes and HTML templates">{{setting.company}}</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">

                    <li><a href="/iletisim">İletişim</a></li>
                    <li><a href="/SSS">SSS</a></li>
                    <li><a href="{{ setting.facebook}}"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{ setting.twitter}}"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ setting.instagram}}"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->


<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js'%}"></script>
<script src="{% static 'js/jquery.isotope.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/wow.min.js'%}"></script>