

{% extends 'homebase.html' %}
{% load static %}
{% block title %} Hakkımızda - {{ setting.company}}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

{% endblock %}

{% block body%}

 <section id="error" class="container text-center">
        {{ setting.aboutus |safe }}
    </section><!--/#error-->

{% endblock %}