
{% load static %}

<script>

    $(function() {
        $("#query").autocomplete({
            source: "/search_auto",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui)
    {
        var selectedObj = ui.item;
    }

</script>

<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 70 90</p></div>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>

                        <div class="search">
                            <form role="form" action="/search/" method="post">
                                {% load mptt_tags %}

                                <select style="background-color: #2e2e2e" name="catid" class="input search">
                                    <option value="0"> All Categories</option>

                                    {% recursetree category %}
                                        {% if node.is_leaf_node %}
                                            <option value="{{ node.id }}">{{ node.title }}</option>
                                        {% endif %}
                                        {% if not node.is_leaf_node %}
                                            <optgroup label="{{ node.title }}">
                                                {{ children }}
                                            </optgroup>
                                        {% endif %}
                                        </li>
                                    {% endrecursetree %}
                                </select>
                                {% csrf_token %}
                                <input id="query" name="query" type="text" class="search-form" autocomplete="off" placeholder="Enter your Keywords">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <a class="navbar-brand" href="/"><img src="{% static 'images/logo1.png'%}" style="height: 140px;width: 155px;" class="center" alt="logo"></a>
            <div class="collapse navbar-collapse navbar-right">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Anasayfa</a></li>
                    {% load mptt_tags %}
                    {% recursetree category %}
                        <li class="dropdown">
                            <a href="/category/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle" {% if not node.is_leaf_node %} data-toggle="dropdown"  {% endif %}>{{ node.title }}  {% if not node.is_leaf_node %}<i class="fa fa-angle-down"></i>{% endif %}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                    <li><a href="/referanslar">Referanslarımız</a></li>
                    <li><a href="/iletisim">İletişim</a></li>


                </ul>
            </div>

        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->