

{% extends 'homebase.html' %}
{% load static %}
{% block title %} Referanslar- {{ setting.company}}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

{% endblock %}

{% block body%}



    <section id="error" class="container text-center">
    <div class="row">

        <table cellpadding="3" width="1300">
            <tr>

                <th>Image</th>
                <th>Content Name</th>
                <th>Category</th>
            </tr>
            {% for rs in news %}
                <tr>
                <th><a href="/news/{{ rs.id }}/{{ rs.slug }}"> <img src="{{ rs.image.url }}"style="height: 100px; width: 150px"></a></th>
                <th><h4 class="news-name"> <a href="/news/{{ rs.id }}/{{ rs.slug }}"> {{ rs.title}} </a> </h4>
                <th><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}"> {{ rs.category }} </a> </th>

                </tr>

            {% endfor %}


        </table>

    </div>
    </section><!--/#error-->

{% endblock %}