{% load static %}

<section id="main-slider" class="no-margin">

    <div  class="carousel slide">
        <div id="myCarousel" class="carousel-inner">
            {{ count }}


            {% for rs in sliderdata %}

                <div id="yeni" class="item {% if count == 0 %} active {% endif %}" style="background-color: #192841">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 >{{ rs.title }}</h1>
                                    <h2>{{ rs.description }}</h2>
                                    <a class="btn-slide animation animated-item-3" href="/news/{{ rs.id }}/{{ rs.slug}}">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ rs.image.url }}" class="img-responsive" style="height: 350px " width="650 px" >

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
            {% endfor %}
            {{ count.counter }}
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->

    <a class="prev hidden-xs" href="#myCarousel" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#myCarousel" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>


</section><!--/#main-slider-->
