

{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ profile.first_name}} Profile {% endblock %}
{% block keywords %} {% endblock %}
{% block description %}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />


{% endblock %}

{% block body%}

    <section id="blog" class="container">
        <div class="center">
            <h2> Change Your Password</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning{{ message.tags }}" role="alert" style="background-color: red">
                        <p style="color:#a6e1ec ">{{ message|safe }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8" style="background-color: #faf0e6">
                    <h1 id="comments_title" class="center">You can change your password from here.</h1>
                    <!-- İçerik Başlangıç -->
                    <div class="blog-content">
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }} <br>
                                    {{ field }}

                                    {% if field.help_text %}
                                        <small style="color: grey"> {{ field.help_text}}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="color: red"> {{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <div class="form-group">

                                <button class="btn btn btn-primary button" type="submit"> Update Password</button>
                            </div>



                        </form>




                    </div>
                    <!-- İçerik Bitiş -->
                </div><!--/.row-->


                <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                            <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div><!--/.search-->


                    {% include 'userpanel.html' %}


                </aside>


            </div><!--/.row-->

        </div><!--/.blog-->

    </section><!--/#blog-->
{% endblock %}