<div class="widget categories">
    <h3>My Account</h3>
    <div class="row">
        <div class="col-sm-5">
            <ul class="blog_category">
                <li><a href="/user">My Profile <span class="badge"></span></a></li>
                <li><a href="/user/comments/">My Comments <span class="badge"></span></a></li>
                <li><a href="/user/mynews">My Content <span class="badge"></span></a></li>
                <li><a href="/logout">Logout <span class="badge"></span></a></li>
            </ul>
        </div>
    </div>
</div>